*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 400vh;
    background: rgb(222, 222, 222);
}


.container{
    width: 700px;
    height: 400px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p{
    padding: 75px;
}

p span{
    color: hsl(0, 0%, 100%, 0.2);
    font-size: 45px;
    text-align: center;
    background-image: linear-gradient(90deg, white, white);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    font-weight: 800;
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range-start: cover 100px;
    animation-range-end: cover 600px;
}

@keyframes scroll-reveal {
    to{
        background-size: 100% 100%;
    }
}